.subscribe {
  margin-left: 70px;
}
.footer-social-list {
  margin-top: 0;
}
.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.join {
  display: block;
  color: var(--text-white-color);

  margin-bottom: 20px;

  line-height: 1.17;
}

.foot {
  fill: var(--text-white-color);
  background-color: rgba(255, 255, 255, 0.1);
}
