.contacts__icon {
  display: inline-block;
  align-items: center;
  margin-right: 10px;
  fill: var(--text-prime-color);

  transition: fill 250ms var(--timing-function);
}

.contacts {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
.contacts__link {
  display: inline-flex;
  align-items: center;

  list-style: none;
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.17;

  color: var(--text-prime-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms var(--timing-function);
}
.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon,
.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.contacts__item:not(:last-child) {
  margin-right: 50px;
}
