.header {
  border-bottom: 1px solid #ececec;
}
.logo-header {
  margin-right: 93px;
  color: #000000;
}
.site-nav {
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header .container {
  display: flex;
  align-items: center;
}

// Navigation
.site-nav-link {
  position: relative;

  display: block;
  color: var(--text-title-color);
  font-weight: 500;
  line-height: 1.17;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms var(--timing-function);
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-link:hover,
.site-nav-link:focus,
.site-nav-link:active {
  color: var(--accent-color);
}
.site-nav-link.current {
  color: var(--accent-color);
}
.site-nav-link::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: -1px;

  display: block;
  width: 0%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;

  opacity: 0;
}
.site-nav-link.current::after {
  opacity: 1;
  width: 100%;
}
