.hero {
  padding: 200px 0;
  text-align: center;

  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  min-height: 600px;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/BG_Hero.jpg');
  background-color: var(--bg-hero-footer);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-bottom: 30px;
  color: var(--text-white-color);
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.06em;
  line-height: 1.37;
}
.hero-btn {
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--text-white-color);
  background-color: var(--accent-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;

  transition: background-color 250ms var(--timing-function);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}
